<table border=1>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>option</th>
        </tr>
        <tr *ngFor="let products of object.booksdata">
                <td>{{products.id}}</td>
                <td>{{products.title}}</td>
                <td>{{products.author}}</td>
                <td>{{products.year}}</td>
                
        
                <td>
                    <button (click)="deletedata(products.id)">delete</button>
                </td>
    </tr>
</table>
